body {
  margin: 0;
  padding: 0;
  font-family: calibri;
}

label {
  width: 180px;
  clear: left;
  text-align: right;
  padding-right: 10px;
}

#header {
  font-family: calibri;
	font-size: 50px;
	text-align: center;
	color: black;
}